body {
  margin: 0;
  font-family: "Hahmlet", serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: linear-gradient(
    to bottom right,
    rgb(252, 223, 61),
    rgba(252, 163, 61, 0.719)
  );
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 93vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
